#dog {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
    width: 350px;
    height: 350px;
    position: relative;
    top: 150px;
}

#text {
    color: #ff94c9;
    
    width: 400px;
    padding: 10px;
    font-family: 'Exo', sans-serif;
}
